html{
	box-sizing: border-box;
}
body{
	margin:0;
}
/*
*, *:before, *:after {
  box-sizing: inherit;
}
*/
.container{
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	align-content: flex-start;
	margin: 0;
	padding: 0;
	position: relative;
}

.item-1-1{
	width: 100%;
	margin:0;
}

.item-1-2{
	width:calc(100%/2);
	margin:0;
}
.item-1-4{
	width:calc(100%/4);
	margin:0;
}
.item-1-3{
	width:calc(100%/3);
	margin:0;
}
.item-2-3{
	width:calc(100%/3 * 2);
	margin:0;
}

.list-item{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
}

.list-item .item-1-1{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: .5rem;
}


.pic{
	position: relative;
	align-self: baseline;
	transition: .65s ease;
	/*width: 100%; 
	height: 100%;*/
}

.pic-hover-text{
	opacity: 0;
	position: absolute;
	align-self: baseline;
	padding: 5px;
	text-align: justify-all;
	width: 100%;
	transition: .75s ease-in-out;
}

.pic-hover-container:hover .pic {
	-webkit-filter: grayscale(55%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(55%);
}
.pic-hover-container:hover .pic-hover-text{
	opacity: 1;
	transition: .6s ease-in-out;
}


@media screen and (max-width: 815px){

	.item-1-2, .item-1-3, .item-2-3{
			width: 100%;
			font-size: 100%;	
		}
}